<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotless Hungry Crocodile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./cta.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="thq-section-max-width">
          <div class="cta-accent2-bg">
            <div class="cta-accent1-bg">
              <div class="cta-container2">
                <div class="cta-content">
                  <span class="thq-heading-2">
                    <span>Medium length heading goes here</span>
                  </span>
                  <p class="thq-body-large">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Suspendisse varius enim in eros elementum tristique.
                    </span>
                  </p>
                </div>
                <div class="cta-actions">
                  <button type="button" class="thq-button-filled cta-button">
                    <span>Main Action</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
